
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<img src="~/Content/Banner01.jpg" style="width:1280px;"/>


<div class="container">
    <div>
        <img src="~/Content/SP24-70.jpg" />
        <div>
            <h2>DSLR Kamera </h2>
            <p>
                denne produktkategori finder du de nyeste NIKON DSLR kameraer.
                Billede: Kamera.jpg
            </p>
        </div>
    </div>

    <div>
        <img src="~/Content/SP24-70.jpg" />
        <div>
            <h2>Objektiver </h2>
            <p>
                Vi handler kun med objektiver af bedste kvalitet.
                Billede: Objektiv.jpg
            </p>
        </div>
    </div>

    <div>
        <img src="~/Content/SP24-70.jpg" />
        <div>
            <h2>Kompakt </h2>
            <p>
                De bedste kompakte kamera på markedet.
                Billede: Kompakt.png
            </p>
        </div>
    </div>

    <div>
        <img src="~/Content/SP24-70.jpg" />
        <div>
            <h2>Batterier </h2>
            <p>
                Vi forhandler kun originale NIKON batterier.
                Billede: Batteri.jpg
            </p>
        </div>
    </div>



</div>