
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<div class="concon">

    <h1>Kontakt os</h1>

    <div class="adresse">

        <div>
            <p><b>Vores Adresse</b></p>
        </div>
        <p>
            NIKON experten
            Storegade 67<br />
            DK-8500 Grenaa
            <br />
            <br />

            Tlf: +45 87 58 22 00
            Fax: +45 87 58 22 01
            <br />
            <br />

            info@nikonexp.dk
            www.nikonexp.dk

        </p>
    </div>

    <div class="aebning">
        <div>
            <p><b>Åbningstider: </b></p>
        </div>  
        <p>
            Åbningstider i butikken:
            <br />
            <br />
            Mandag - Fredag  kl. 10.00 - kl. 19.00
            <br />
            <br />
            Lørdag kl. 10.00 - 17.00
            <br />
            <br />
            Første og sidste søndag kl. 10.00 - 16.00

        </p>
    </div>

    <div class="sendemail">
        <div>
            <p><b>Send os en Email</b></p>
        </div>
        <label class="label1">Navn:</label>
        <input type="text" />
        <br />
        <label class="label2">E-Mail:</label>
        <input type="text" />
        <br />
        <label class="label3">Emne:</label>
        <input type="text" />
        <br />
        <textarea></textarea>
        <br />

        <button>Send</button>

    </div>



</div>

