$headercolor: #161616;
$headerfontcolor: #fbb03b;
$headerhrcolor: #ffffff;    
$navcolor: #e0d4be;
$navfont: #4d4d4d;
$textcolor: #171717;

body {
    background-color: #494949;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

